[Unit]
Description=nodebb-openai-bot
After=

[Service]
ExecStart= /root/nodebb-openai-chatgpt/script/openai_bot.sh
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
